<h1 align="center">
	Welcome to the User Home Schedule:
</h1>	
<p>
	<% if logged_in? %>
		Hello <%= current_user.firstN %> <%= link_to "Log out", logout_path, method: "delete" %>
	<% else %>
		<%= link_to("Sign up", controller: "user", action: "new") %> <%= link_to("Login", controller: "sessions", action: "new") %>
	<% end %>
</p>
<h4>List of Users:</h4>
<% if @users.empty? %>
	<p>There are no users in the database.</p>
<% else %>
	<% @users.each do |user| %>
		<%= user.id %> <%= user.lastN %>, <%= user.firstN + " " + user.email + " "%> was created: <%= user.created_at %><br>
	<% end %>
<% end %>