<h1 align="center">
	Create User:
</h1>

<% if @user.errors.any? %>
	<div>
		<table align="center" style="background-color:red; color:white; border-radius: 15px;">
				<tr style="font-size: 24px"><td colspan="10" align="center"><%= pluralize(@user.errors.count, "Error") %> prohibited this user from being saved:</td></tr>
				<tr>
					<% @user.errors.full_messages.each do |msg| %>
							<td><%= msg %></td>
					<% end %>
				</tr>
		</table>
	</div>
<% end %>
<br>

<div>
	<%= form_for :user, :url => url_for(:controller => 'user', :action => 'create') do |f| %>
		<table align="center" style="padding:15px; border-radius: 15px; background-color:#ffa64d">
			<tr><th>First Name:</th><th><%= f.text_field :firstN, :size => 10 %></th><th> Last Name:</th><th><%= f.text_field :lastN, :size => 15 %></th></tr>
			<tr><th colspan="2">E-mail:</th><th colspan="2"><%= f.text_field :email, :size => 25 %></th></tr>
			<tr><th colspan="2">Password:</th><th colspan="2"><%= f.password_field :password, :size => 25 %></th></tr>
			<tr><th colspan="2">Password Confirmation:</th><th colspan="2"><%= f.password_field :password_confirmation, :size => 25 %></th></tr>
			<tr><th colspan="2">Mobile Phone:</th><th colspan="2"><%= f.telephone_field :mobile_phone %></th></tr>
			<tr><th colspan="2">Date of Birth:</th><th colspan="2"><%= f.date_field :dob %></th></tr>
			<tr><th colspan="4"><%= f.submit %></th></tr>
		</table>
	<% end %>
</div>