<style>
div.g-recaptcha {
  margin: 0 auto;
  width: 304px;
}
</style>

<h1 align="center">
	Create User:
</h1>

<% if @user.errors.any? %>
	<div>
		<table align="center" style="background-color:red; color:white; border-radius: 15px;">
				<tr style="font-size: 24px"><td colspan="10" align="center"><%= pluralize(@user.errors.count, "Error") %> prohibited this user from being saved:</td></tr>
				<tr>
					<% @user.errors.full_messages.each do |msg| %>
							<td><%= msg %></td>
					<% end %>
				</tr>
		</table>
	</div>
<% end %>
<br>
<div style="color:black; font-size:14px; font-weight:bold;" align="center">
	Please Note: By hitting Create Account Button, You agree to terms of service on the <%= link_to("About page.", controller:"static_pages", action:"about") %>
</div>
<div>
	<%= form_for :user, :url => url_for(:controller => 'user', :action => 'create') do |f| %>
		<table align="center" style="padding:15px; border-radius: 15px; background-color:#ffa64d">
			<tr><th colspan="2">Username:</th><th colspan="2"><%= f.text_field :username, placeholder: "Username", :size => 18 %></th></tr>
			<tr><th>First Name:</th><th><%= f.text_field :firstN, placeholder: "First Name", :size => 10 %></th><th> Last Name:</th><th><%= f.text_field :lastN, placeholder: "Last Name", :size => 15 %></th></tr>
			<tr><th colspan="2">E-mail:</th><th colspan="2"><%= f.text_field :email, placeholder: "Email", :size => 25 %></th></tr>
			<tr><th colspan="2">Password:</th><th colspan="2"><%= f.password_field :password, placeholder:"Password", :size => 25 %></th></tr>
			<tr><th colspan="2">Password Confirmation:</th><th colspan="2"><%= f.password_field :password_confirmation, placeholder:"Password Confirmation", :size => 25 %></th></tr>
			<tr><th colspan="2">Mobile Phone:</th><th colspan="2"><%= f.telephone_field :mobile_phone, placeholder:"Mobile Phone" %></th></tr>
			<tr><th colspan="2">Date of Birth:</th><th colspan="2"><%= f.date_field :dob %></th></tr>
			<tr><%= recaptcha_tags %></tr>
			<tr><th colspan="4"><%= f.submit "Create Account" %></th></tr>
		</table>
	<% end %>
</div>