<% provide(:title, @title) %>
<h1 align="center"><%= @user.username %></h1>
<div align="center">
	<span><%= link_to "View my profile", @user %></span>
	<span><b>Events I've Created:</b> <%= @user.events.count %></span>
</div>

<% if @users.any? %>
    <% @users.each do |user| %>
        <%= link_to controller: "user", action: "show", id: user.id do %>
	        <div align="center" style="padding:5px; border: 2px solid black; border-radius:10px; width:60%; background-color:white;">
	        	<%= user.username %> <% user.followers.count %> followers | <% user.following.count %> following
	        </div>
        <% end %>
    <% end %>
<% end %>