<style>
ul#menu li {
    display:inline;
}
div.abs_left {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 14px;
}
div.abs_right{
	position: absolute;
	top: 10px;
	right: 15px;
}
.header a:link, a:visited{
	color:white;
	background-color: #0600AB;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: 5px;
}
.header a:hover{
	color:#75FFA8;
}
.header a:active{
	color:white;
}
</style>

	<div class="abs_left">
		<ul id="menu" class="header">
			<li><%= link_to("Home", controller: "static_pages", action:"home") %></li><li> </li>
			<li><%= link_to("Feed", controller: "user", action:"feed") %></li><li> </li>
			<li><%= link_to("Groups", controller: "group", action:"index")%> <!-- , controller: "group", action:"index"-->
		</ul>
	</div>
	<div class="abs_right header">
		<ul id="menu">
			<% if logged_in? == false %>
				<%= form_for(:session, url: login_path) do |f| %>
						<table>
							<li style="font-size: 10px;"><%= f.text_field :email, placeholder: "Email", :size=>"12", class: 'form-control', style: 'border-radius: 3px' %> </li>
							<li style="font-size: 10px"><%= f.password_field :password, placeholder: "Password", :size=>"10", style: 'border-radius: 3px' %></li>
					      	<li><%= f.label :remember_me, class: "checkbox inline" do %></li>
							<li><%= f.check_box :remember_me %></li>
							<li style="font-size:12px">Remember me </li>
					      <% end %>
							<li colspan="2"><%= f.submit "Log in" %></li>
				<% end %>
			  				<li style="font-size:14px"> <%= link_to("Sign up", controller: "user", action: "new")%></li>
			  			</table>
		  	<% else %>
		  			<table class="header">
		  				<li style="font-size:14px"><%= link_to("Schedule", controller:"user", action:"index", id: @current_user.id) %></li><li> </li>
		  				<%= link_to(current_user) do %>
		  					<li style="font-size:14px"><%= current_user.firstN.capitalize %> </li>
		  				<% end %>
		  				</li><li> </li>
		  				<li style="font-size:14px"><%= link_to("Log out", logout_path, method: "delete")%></li>
		  			</table>
		  	<% end %>
		</ul>
	</div>