<!-- 
	HTML Schedule Here.
-->
<style>
	.tiptext {
	}
	.description {
	    display:none;
	    position:absolute;
	    border:1px solid #000;
	    width:600px;
	    height:250px;
	    color: white;
	    background-color: #56A8F0;
	    z-index: 1;
	}
</style>

<table width="100%" style="background-color:#E3F1FF; table-layout:fixed">
	<colgroup>
		<col width="200px" />
		<col width="200px" />
		<col width="200px" />
		<col width="200px" />
		<col width="200px" />
	</colgroup>
	<% dateArray = Array.new %>
	<% for i in 0..5 %>
		<tr>
			<% for j in 0..4 %>
				<% calendarDate = Time.now + ((i*5) + j).day.to_i %>
				<% wdayValue = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
				<% monthValue = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October","November", "December"] %>
				<% dateArray.insert((i*5) + j, calendarDate.strftime("%m-%d-%y")) %>
				<td style="height:60px; border:1px solid black; max-width: 200px; overflow: hidden; white-space: nowrap;">
					<div class="tiptext">
					<%= link_to controller:"schedule_event", action:"show", id:dateArray.values_at((i*5) + j) do %>
						<!--
							^
							Needs a link to a value for each day, something that will link every date to a page about that date.
							Maybe add javascript code that can just make every div bigger than the others.
							Maybe there doesn't need to be a link to a page, just javascript making the selected day larger, showing every event.

							Use Javascript to add an event for that day with people.
						-->
							<% if ((calendarDate.day == Time.now.day) && (calendarDate.month == Time.now.month)) %>
								<div style="color:#007fff;">
									<%= wdayValue[calendarDate.wday] %>, <%= monthValue[calendarDate.month-1] %> <%= calendarDate.day %>:
								</div>
							<% else %>
								<div>
									<%= wdayValue[calendarDate.wday] %>, <%= monthValue[calendarDate.month-1] %> <%= calendarDate.day %>:
								</div>
							<% end %>
							<table>
								<tr><td>Events:</td>
									<td>
										<% @events.each do |event| %>
											<% if event.date_of_event.to_s == calendarDate.strftime("%Y-%m-%d") %>
												<b><%=event.title%></b>
											<% end %>
										<% end %>
									</td>
								<!--
									^
									Show the events for the day by calling a request to the database for events on the day.
									The events should be added based on the "calendarDate" variable.
									something like... 

									calendarValue.getEventsForToday()
								-->
								</tr>
								<tr><td>Availibility</td></tr>
								<!--
									^
									This should only show a status from green to red based on how busy other people are compared to you.
								-->
							</table>
					<% end %>
					<div class="description">
						<h5  style="margin-left: 15px; margin-top:10px; padding:none;">Description for Events of <%= wdayValue[calendarDate.wday] + " " + calendarDate.strftime("%m-%d") %>:</h5>
					</div>
					</div>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
	$(".tiptext").mouseover(function() {
	    $(this).children("div.description").show();
	}).mouseout(function() {
	    $(this).children("div.description").hide();
	});
</script>